# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/
.Python

# Environment variables
.env

# Flask files
instance/
.webassets-cache

# Logs and debug files
*.log
*.txt
debug_preprocessed_image_*.png
output_page-*.png

# Uploads and processed files
uploads/
processed_images/

# IDE settings
.idea/
.vscode/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest
.pytest_cache/
.cache

# Migrations
migrations/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints

# Other tools
pdm.lock
.pdm.toml

# Node modules
node_modules/

# Keys or sensitive files
keys/

# Temporary files
*.tmp
*.swp
*.bak
